*{
 box-sizing: border-box;
}

.hero{
    background-image: url('../images/slide-image-1.jpeg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    transition: background .5s ease;
    position: relative;
}
